ENV=
APP_NAME=
SPRING_PROFILES_ACTIVE=
SERVER_PORT=
SERVER_CONTEXT_PATH=

MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_ROOT_USERNAME=
MONGO_DB_NAME=

POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=

LOG_DEBUG_ENABLED=

DB_POOL_NAME=
DB_POOL_MIN_IDLE=
DB_POOL_MAX_SIZE=
DB_POOL_IDLE_TIMEOUT_MS=
DB_POOL_MAX_LIFETIME_MS=
DB_POOL_CONNECTION_TIMEOUT_MS=

JPA_DDL_AUTO_LOCAL=
JPA_SHOW_SQL_LOCAL=
JPA_FORMAT_SQL_LOCAL=

JPA_DDL_AUTO_PROD=
JPA_SHOW_SQL_PROD=
JPA_FORMAT_SQL_PROD=

TEST_DB_URL=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
TEST_CACHE_TYPE=
TEST_JPA_DDL_AUTO=
TEST_HIBERNATE_DIALECT=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


GCLOUD_PROJECT=
GCLOUD_CLIENT_ID=
GCLOUD_AUTH_URI=
GCLOUD_TOKEN_URI=
GCLOUD_AUTH_PROVIDER_X509_CERT_URL=
GCLOUD_CLIENT_SECRET=